.map-container .map.google-map {
  width:100%; height: 400px;
}

.map-controls {
  margin-bottom: 50px;
  margin-top: 10px;
}

.map-content {
  margin: 100px auto;
}

.map-control {
  width: 200px;
}

.view-as-notifier .alert {
  font-size: 15px;
  padding: 40px 5px 40px 5px;
}

.buttons.col-sm-10 {
  padding-left: 0px;
}