.sign-up-form-container {
  margin: 100px auto;
  width: 500px;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px 50px 20px 50px;
  transition: border 0.4s;
  transition: box-shadow 0.4s;
  transition: background-color 0.4s;
}

.sign-up-form-container:hover {
  border: 1px solid rgba(#f0ad4e, 0.52);
  box-shadow: 0 0 5px #f0ad4e;
  background-color: #1c1c1c;
  transition: border 0.4s;
  transition: box-shadow 0.4s;
  transition: background-color 0.8s;
}

.login-particles {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.form-group .control-label {
  color: rgb(221, 221, 221);
  font-size: 15px;
}