{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
  {% block head_content %}
    <meta charset=“UTF-8“ />
    <!-- <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> -->
    <link rel="stylesheet" href="../../static/stalker_app/css/common.css" />
  {% endblock %}
</head>

<body id="particles-js">
  {% block header %}
    <nav class="navbar stalker-navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'stalker_app:home' %}">
            <span class="glyphicon glyphicon-home"></span>
            Stalker
          </a>
        </div>
        <!-- <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
         {% if request.user.is_authenticated %}
            <li><a href="{% url 'stalker_app:maps' %}"><span class="glyphicon glyphicon-map-marker"></span> Maps</a></li>
            <li><a href="#" class="logout-button" data-logout-url="{% url 'stalker_app_api:auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
         {% else %}
          <li><a href="{% url 'stalker_app:sign_up' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'stalker_app:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         {% endif %}
        </ul>
      </div>
    </nav>
    {% if request.user.is_authenticated %}

    {% endif %}
  {% endblock %}

  {% block content %}
    {% block javascript %}
      <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
      <script src="../../static/stalker_app/js/common.js" ></script>
      <script src="../../static/stalker_app/js/auth/logout.js" ></script>
    {% endblock %}
  {% endblock %}
</body>
